.navBar {
  position: relative;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c034a;
  height: 100px;
  padding-right: 40px;
}

.navBar ul {
  list-style-type: none;
  display: flex;

  padding: 0;
}
.navBar li {
  margin-right: 35px;
}

.navBar a {
  color: #dddddd;
}

.navBar img {
  width: 40px;
  height: 40px;
}
